extends layout
block script
 script(type='text/javascript').
  var storage = window.localStorage;
  storage.setItem("user",JSON.stringify(!{message}));
  location.href = "/#{appflag}/load.html"

block content
