* {
    margin: 0;
    padding: 0;
}

input::-webkit-input-placeholder {
    font-size: 1.1em;
    color: black;
    font-family: "Microsoft YaHei" ! important;
}

input::input-placeholder {
    font-size: 1.1em;
    color: black;
    font-family: "Microsoft YaHei" ! important;
}

img {
    max-width: 100%;
    min-width: 100%;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999
}

.logo {
    width: 50%;
    margin-left: 25%;
    margin-top: 8%;
}

.text2 {
    margin-top: 4%;
    width: 90%;
    margin-left: 5%;
}

.text3 {
    width: 50%;
    margin-left: 25%;
    margin-top: 4%;
}

.myform {
    margin-top: 4%;
    width: 50%;
    margin-left: 25%;
}

.myform .name {
    width: 48%;
    float: left;
}

.inputname {
    margin-top: -32.5%;
}

.inputname>input {
    width: 82%;
    border-radius: 3em;
    background-color: #A6BF9D;
    border: 0;
    color: black;
    padding-left: 1em;
}

.myform .submit {
    width: 48%;
    float: right;
}

.txt {
    margin-top: 2%;
    width: 20%;
    margin-left: 40%;
}

.qrcode {
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
}


/*index2*/

.bg2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999
}

.info {
    position: absolute;
    transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    color: rgb(12, 12, 12);
}


/*兼容不同分别率*/

@media screen and (max-width:320px) {
    /*.bg2{
        display: none;
    }*/
    .formname {
        top: 66.7%;
        font-size: 0.2em;
        left: 55%;
    }
    .pinyin {
        font-size: 0.2em;
        left: 54%;
        top: 70%;
    }
    .renpin {
        font-size: 0.4em;
        left: 66%;
        top: 76%;
    }
    .date .month {
        font-size: 0.4em;
        left: 66%;
        top: 80%;
    }
    .date .day {
        font-size: 0.4em;
        left: 73%;
        top: 81.5%;
    }
    .date .month2 {
        font-size: 0.4em;
        left: 64%;
        top: 84%;
    }
    .date .day2 {
        font-size: 0.4em;
        left: 71.5%;
        top: 85.9%;
    }
}

@media screen and (min-width: 321px) and (max-width: 413px) {
    .formname {
        top: 64.5%;
        font-size: 0.3em;
        left: 51%;
    }
    .pinyin {
        font-size: 0.3em;
        left: 49%;
        top: 66.8%;
    }
    .renpin {
        font-size: 0.4em;
        left: 58%;
        top: 70%;
    }
    .date .month {
        font-size: 0.4em;
        left: 58%;
        top: 74%;
    }
    .date .day {
        font-size: 0.4em;
        left: 62%;
        top: 75%;
    }
    .date .month2 {
        font-size: 0.4em;
        left: 56%;
        top: 78%;
    }
    .date .day2 {
        font-size: 0.4em;
        left: 60%;
        top: 79%;
    }
}

@media screen and (min-width: 414px) and (max-width: 500px) {
    .formname {
        top: 64.8%;
        font-size: 0.3em;
        left: 55%;
    }
    .pinyin {
        font-size: 0.3em;
        left: 53%;
        top: 67.8%;
    }
    .renpin {
        font-size: 0.4em;
        left: 66%;
        top: 74.5%;
    }
    .date .month {
        font-size: 0.4em;
        left: 66%;
        top: 78.2%;
    }
    .date .day {
        font-size: 0.4em;
        left: 72.8%;
        top: 79.5%;
    }
    .date .month2 {
        font-size: 0.4em;
        left: 64%;
        top: 82.2%;
    }
    .date .day2 {
        font-size: 0.4em;
        left: 70.8%;
        top: 83.5%;
    }
}

@media screen and (min-width: 501px) {
    .formname {
        top: 64.5%;
        font-size: 0.3em;
        left: 51%;
    }
    .pinyin {
        font-size: 0.3em;
        left: 49%;
        top: 65.8%;
    }
    .renpin {
        font-size: 0.4em;
        left: 58%;
        top: 70%;
    }
    .date .month {
        font-size: 0.4em;
        left: 58%;
        top: 74%;
    }
    .date .day {
        font-size: 0.4em;
        left: 62%;
        top: 75%;
    }
    .date .month2 {
        font-size: 0.4em;
        left: 56%;
        top: 78%;
    }
    .date .day2 {
        font-size: 0.4em;
        left: 60%;
        top: 79%;
    }
}

@media screen and (width:375px) {
    /*.bg2{
        display: none;
    }*/
    .formname {
        top: 65.7%;
        font-size: 0.3em;
        left: 56%;
    }
    .pinyin {
        font-size: 0.3em;
        left: 54%;
        top: 68.3%;
    }
    .renpin {
        font-size: 0.4em;
        left: 65.5%;
        top: 74.5%;
    }
    .date .month {
        font-size: 0.4em;
        left: 65.5%;
        top: 78.5%;
    }
    .date .day {
        font-size: 0.4em;
        left: 73%;
        top: 80.5%;
    }
    .date .month2 {
        font-size: 0.4em;
        left: 63.5%;
        top: 82.5%;
    }
    .date .day2 {
        font-size: 0.4em;
        left: 71%;
        top: 84.5%;
    }
}

@media screen and (width: 360px) {
    /*.bg2 {
        display: none;
    }*/
    .formname {
        top: 66.8%;
        font-size: 0.5em;
        left: 55%;
    }
    .pinyin {
        font-size: 0.5em;
        left: 54%;
        top: 69.4%;
    }
    .renpin {
        font-size: 0.5em;
        left: 66%;
        top: 76%;
    }
    .date .month {
        font-size: 0.5em;
        left: 67%;
        top: 80.3%;
    }
    .date .day {
        font-size: 0.5em;
        left: 73.3%;
        top: 82%;
    }
    .date .month2 {
        font-size: 0.5em;
        left: 65%;
        top: 84.3%;
    }
    .date .day2 {
        font-size: 0.5em;
        left: 71.3%;
        top: 86%;
    }
}

@media screen and (width: 360px) and (max-height:520px) {
    /*.bg2 {
        display: none;
    }*/
    .formname {
        top: 73.8%;
        font-size: 0.5em;
        left: 55%;
    }
    .pinyin {
        font-size: 0.5em;
        left: 54%;
        top: 77%;
    }
    .renpin {
        font-size: 0.5em;
        left: 66%;
        top: 84%;
    }
    .date .month {
        font-size: 0.5em;
        left: 67%;
        top: 88.3%;
    }
    .date .day {
        font-size: 0.5em;
        left: 73.3%;
        top: 90%;
    }
    .date .month2 {
        font-size: 0.5em;
        left: 65%;
        top: 93.3%;
    }
    .date .day2 {
        font-size: 0.5em;
        left: 71.3%;
        top: 95%;
    }
    .inputname {
        margin-top: -28.5%;
    }
}


/*动画*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
